lib/hr-xml-2.5/HR-XML-2_5/Stock/Grant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ns.hr-xml.org/2007-04-15" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ns.hr-xml.org/2007-04-15" elementFormDefault="qualified" version="2007-04-15">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../W3C/xml.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: Grant.xsd
Status: Recommendation
Date this version: 2007-04-15
Author(s): Andreas Bold - SAP, Stock Work Group
Documentation: EmployeeStocksPlanInterface.html

Terms of license can be found in license.txt.

Change History:
2005-01
As per Schema Design Guidelines, all default values have been removed.

2005-09-11 - Changed name GrantType to GrantDataType in order to better enable code generation tools.  No content models were changed in any way.
Background: Code generation tools will often create classes of an element data type by appending the word Type to the element name.  Since in this case, there is already a child element with the name GrantType, then the class generated will clash with a class generated by this child element.  By renaming the data type, a clash is avoided and xml instances remain completely forwardly and backwardly compatible.

		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../Stock/StockPlan.xsd"/>
	<xsd:complexType name="GrantDataType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType"/>
			<xsd:element name="ParticipantId" type="EntityIdType"/>
			<xsd:element name="PlanId" type="EntityIdType"/>
			<xsd:element name="GrantType" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="StockOptionPlanExtensionType">
							<xsd:attribute name="country" type="CountryCodeType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Restricted" type="xsd:boolean"/>
			<xsd:element name="Repurchasable" type="xsd:boolean"/>
			<xsd:element name="SharesGranted" type="xsd:decimal"/>
			<xsd:element name="SharesAccepted" type="xsd:decimal"/>
			<xsd:element name="GrantPrice" type="xsd:double" minOccurs="0"/>
			<xsd:element name="FairMarketValue" type="xsd:double" minOccurs="0"/>
			<xsd:element name="BlackOutInformation" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Period" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="validFrom" type="LocalDateType" use="required"/>
								<xsd:attribute name="validTo" type="LocalDateType" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VestingInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Shares" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Quantity" type="xsd:decimal"/>
									<xsd:element name="VestingDate" type="LocalDateType"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Rule" type="xsd:string" maxOccurs="unbounded"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ExercisabilityInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Shares" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Quantity" type="xsd:decimal"/>
									<xsd:element name="ExerciseDate" type="LocalDateType"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Rule" type="xsd:string" maxOccurs="unbounded"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Comment" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="xml:lang"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="validTo" type="LocalDateType" use="required"/>
		<xsd:attribute name="grantDate" type="LocalDateType" use="required"/>
		<xsd:attribute name="grantCurrency" type="CurrencyCodeType"/>
	</xsd:complexType>
	<xsd:element name="Grant" type="GrantDataType"/>
</xsd:schema>
