lib/hr-xml-2.5/OAGIS8_0/OAGIS/Resources/Nouns/Order.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    License information for this file is provided in LICENSE.TXT
    For support, more information, or to report implementation bugs, 
    please contact the Open Applications Group at xml@openapplications.org 
     
    ** Revision: 8.0 **
    ** Date: 05 April 2002 **
    Open Applications Group XSD
    Copyright 1998-2002, All Rights Reserved
    
    Name: Nouns/Order.xsd
-->
<xs:schema targetNamespace="http://www.openapplications.org/oagis" xmlns="http://www.openapplications.org/oagis" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.02">
	<xs:include schemaLocation="Document.xsd"/>
	<xs:complexType name="Order">
		<xs:complexContent>
			<xs:restriction base="Document">
				<xs:sequence>
					<xs:element ref="Header" minOccurs="0"/>
					<xs:element ref="Line" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderHeader" abstract="true">
		<xs:complexContent>
			<xs:extension base="DocumentOrderHeader">
				<xs:sequence>
					<xs:element ref="OrderStatus" minOccurs="0"/>
					<xs:element name="SpecialPriceAuthorization" type="AuthorizationId" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the supplier's code to authorize special pricing as a result of an agreement.</xs:documentation>
							<xs:documentation source="http://www.openapplications.org/oagis">SYNONYMS:	Price Authorization, Price Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TaxWithholdingExempt" type="TaxWithholdingExempt" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Specifies whether the document is exempt from withholding taxes..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="License" type="License" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates what type of licenses are required in order to make the sell.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FreightClass" type="FreightClass" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Qualifies goods for purposes of freight cost calculation. An example would the qualifications used by National Motor Freight Carriers.

EXAMPLES	National Motor Freight Carriers (NMFC) Class Code 

Based on an evaluation of density, stowability, ease of handling and liability, the commodities are grouped into one of 18 classes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShipNote" type="Note" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the shipping instructions or notes.  This is a free form area that contains special instructions such as: Second Day Air, Hurry, Rush, Handle with Care.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DropShipInd" type="Indicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates whether the order can be drop shipped or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BackOrderedInd" type="Indicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Inidicates if the Order is BackOrdered or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShipPriorToDueDateInd" type="Indicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates if the order can be shipped prior to the dates on the order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Priority" type="Priority" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Inidicates the Priority that the Customer is requesting for the order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReasonCode" type="ReasonCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is used as a reason indicator for any type of business event or activity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EarliestShipDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the earliest ship date for the order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NeedDeliveryDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the date the order needs to be delivered to the customer..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PromisedDeliveryDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the date in which the order was promised to be delivered to the customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PromisedShipDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the date in which the order was promised to be shipped from the supplier to the customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtendedPrice" type="Amount" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the total value of the order line items. It does not include any additional charges or fees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalAmount" type="Amount" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the total value of the order. It is possible for this to be provided in both the currency of the given transaction or in the default currency of the sending orginization (the functional currency). This is necessary for internal application communication.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="TransportationTerm" minOccurs="0"/>
					<xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Charges" minOccurs="0"/>
					<xs:element ref="Distribution" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Parties" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderLineBase">
		<xs:complexContent>
			<xs:extension base="DocumentLine">
				<xs:sequence>
					<xs:element ref="OrderItem" minOccurs="0"/>
					<xs:element name="OrderQuantity" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the number of ordered items for the given line..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnitPrice" type="AmountPerQuantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the price per unit of the items ordered.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtendedPrice" type="Amount" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the accumulated cost of the ordered items for this line. It is OrderedQuantity multiplied by the UnitPrce.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalAmount" type="Amount" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the total cost of the ordered items for this line.This includes any additional charges or handling fees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EarliestShipDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the earliest ship date for the order line.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BackOrderedQuantity" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the number of the ordered quantity placed on back order for the line.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NeedDeliveryDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the date the order line needs to be delivered to the customer..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PromisedDeliveryDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the date in which the order line was promised to be delivered to the customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PromisedShipDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the date in which the order line was promised to be shipped from the supplier to the customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TaxWithholdingExempt" type="TaxWithholdingExempt" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Specifies whether the item is exempt from withholding taxes..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is a free form description of the line.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="Notes" minOccurs="0"/>
					<xs:group ref="Temperatures" minOccurs="0"/>
					<xs:element name="MaximumTemperature" type="Temperature" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is maximum temperature the Line item can reach.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MinimumTemperature" type="Temperature" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is minimum temperature the Line item can reach.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="License" type="License" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates what type of licenses are required in order to make the sell.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FreightClass" type="FreightClass" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Qualifies goods for purposes of freight cost calculation. An example would the qualifications used by National Motor Freight Carriers.

EXAMPLES	National Motor Freight Carriers (NMFC) Class Code 

Based on an evaluation of density, stowability, ease of handling and liability, the commodities are grouped into one of 18 classes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShipNote" type="Note" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the shipping instructions or notes.  This is a free form area that contains special instructions such as: Second Day Air, Hurry, Rush, Handle with Care.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Priority" type="Priority" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Inidicates the Priority that the Customer is requesting for the order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReasonCode" type="ReasonCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is used as a reason indicator for any type of business event or activity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PackingMaterial" type="PackingMaterial" minOccurs="0"/>
					<xs:element name="DropShipInd" type="Indicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates whether the order can be drop shipped or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BackOrderedInd" type="Indicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Inidicates if the Order is BackOrdered or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShipPriorToDueDateInd" type="Indicator" minOccurs="0"/>
					<xs:element name="SubstitutionAllowedInd" type="Indicator" minOccurs="0"/>
					<xs:element ref="Distribution" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="TransportationTerm" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderLine">
		<xs:complexContent>
			<xs:extension base="OrderLineBase">
				<xs:sequence>
					<xs:element ref="OrderStatus" minOccurs="0"/>
					<xs:element ref="Parties" minOccurs="0"/>
					<xs:element ref="Charges" minOccurs="0"/>
					<xs:element ref="Tax" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="DocumentReferences" minOccurs="0"/>
					<xs:element ref="Attachments" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderSubLine">
		<xs:complexContent>
			<xs:extension base="OrderLineBase">
				<xs:sequence>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderSchedule">
		<xs:complexContent>
			<xs:extension base="OrderLineBase">
				<xs:sequence>
					<xs:element name="EffectivePeriod" type="TimePeriodAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the starting point in time in which the schedule applies.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequiredQuantity" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indiactes the quatity of Order Items that are required in for a given shipment for the schedule.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FixedTimeDuration" type="Duration" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates how often a shipment of Order Items are to be sent to the Customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverToleranceDuration" type="Duration" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the number of days late that a shipment of the scheduled items can be.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnderToleranceDuration" type="Duration" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the number of days early that a shipment of scheduled items can be.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverShipTolerance" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the number over the RequiredQuantity a given shipment may be.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnderShipTolerance" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the number under the RequiredQuantity a given shipment may be.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SalesInformation">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Communicates the Sales Information like the sales person, and their commision, indcates the Sales Organizations involved and their commision rates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SalesPerson" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis"/>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the Sales Person that were involved in the order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="CommissionAmount" type="Amount" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Monitary Amount of the commision.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommisionQuantity" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the Quantity of items in which the commision is received for.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="OrderAmount" type="Amount" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the total Amount of the Order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrderQuantity" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the total Ordered Quantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PercentQuantity" type="Quantity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the Commision Percentage for the Sales Person or Organization.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="SalesOrganization" type="SalesOrganization" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indicates the Sales Organizations involved in the sell.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Buyer" type="Contact" substitutionGroup="Contact">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the person(s) or department responsible for purchasing the ordered items from the Customers side.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Requester" type="Contact" substitutionGroup="Contact">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the person(s) or department that requested that the ordereditems be purchased from the Customers side.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SalesPerson" type="Contact" substitutionGroup="Contact">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the Sales Person(s) that were responsible for the sale from the Supplier's side.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Planner" type="Contact" substitutionGroup="Contact">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the person that is responsible for planning when the ordered items are needed from the Customers side. From the Supplier's side the planner will determine when the ordered items can be available.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SalesInformation" type="SalesInformation">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Communicates the information about the sale.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
