lib/hr-xml-2.5/OAGIS8_0/OAGIS/BODConstraints/Rules/ConfirmBOD.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:BOD">
			<sch:assert test="oa:Header">Must have a Header component.</sch:assert>
			<sch:assert test="oa:NounOutcome">Must have at least one Noun component.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:OriginalApplicationArea">Must have a reference the original Applications Area</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
