lib/hr-xml-2.5/HR-XML-2_5/StandAlone/CustomerReportingRequirements.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Chuck Allen (HR-XML Consortium, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ns.hr-xml.org/2007-04-15" xmlns:oa="http://www.openapplications.org/oagis" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://ns.hr-xml.org/2007-04-15" elementFormDefault="qualified" version="2007-04-15">
	<xsd:annotation>
		<xsd:documentation>"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"

Terms of license can be found in license.txt.
</xsd:documentation>
		<xsd:documentation>Stand alone (but non-normative) version of schema, with all "includes" inserted explicitly.  This file is auto-generated.  It should be considered a "convenience" alternative to the normative versions.</xsd:documentation>
		<xsd:documentation>After merging all includes, the result is passed through a stylesheet which deletes any duplicative global components as well as any unused global types.  Finally, it sorts by component name.  Be sure to check the Xml Namespaces to ensure this result is what you requested.</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CustomerReportingRequirements" type="CustomerReportingRequirementsType"/>
	<xsd:complexType name="CustomerReportingRequirementsType">
		<xsd:sequence>
			<xsd:element name="ManagerName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SupervisorName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContactName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PurchaseOrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DepartmentCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DepartmentName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LocationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LocationName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CostCenterCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CostCenterName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CustomerJobCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CustomerJobDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProjectCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExternalOrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExternalReqNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Entity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SubEntity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Shift" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CustomerReferenceNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AdditionalRequirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="requirementTitle" type="xsd:string" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PurchaseOrderLineItem" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
