lib/hr-xml-2.5/HR-XML-2_5/StandAlone/EPMObjectivesResult.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Chuck Allen (HR-XML Consortium, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ns.hr-xml.org/2007-04-15" xmlns:oa="http://www.openapplications.org/oagis" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://ns.hr-xml.org/2007-04-15" elementFormDefault="qualified" version="2007-04-15">
	<xsd:annotation>
		<xsd:documentation>"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"

Terms of license can be found in license.txt.
</xsd:documentation>
		<xsd:documentation>Stand alone (but non-normative) version of schema, with all "includes" inserted explicitly.  This file is auto-generated.  It should be considered a "convenience" alternative to the normative versions.</xsd:documentation>
		<xsd:documentation>After merging all includes, the result is passed through a stylesheet which deletes any duplicative global components as well as any unused global types.  Finally, it sorts by component name.  Be sure to check the Xml Namespaces to ensure this result is what you requested.</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="EPMObjectivesResult" type="EPMObjectivesResultType"/>
	<xsd:simpleType name="AnyDateTimeNkNaType">
		<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType NotKnownLiteral NotApplicableLiteral"/>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodLocationPatternExtensionType">
		<xsd:union memberTypes="contactMethodLocationType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodLocationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="office"/>
			<xsd:enumeration value="vehicle"/>
			<xsd:enumeration value="onPerson"/>
			<xsd:enumeration value="home"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodUsePatternExtensionType">
		<xsd:union memberTypes="contactMethodUseType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodUseType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="business"/>
			<xsd:enumeration value="businessDirect"/>
			<xsd:enumeration value="personal"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodWhenAvailableType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 3166 Representation of Countries.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 4217 - Representation of Currency and Funds</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPMReasonCodeEnumType">
		<xsd:annotation>
			<xsd:documentation>Values describing the reason for the performance appraisal. Enumerated values are: promotion, job change, and scheduled.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="promotion"/>
			<xsd:enumeration value="job change"/>
			<xsd:enumeration value="scheduled"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPMRelationshipGroupEnumType">
		<xsd:annotation>
			<xsd:documentation>Values describing the relationship between a performance appraisal process participant (e.g., a participant on a multi-rater panel) and the performance appraisal subject. Enumerated values include: customer, peer, supervisor, direct report, and self</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="customer"/>
			<xsd:enumeration value="peer"/>
			<xsd:enumeration value="supervisor"/>
			<xsd:enumeration value="direct report"/>
			<xsd:enumeration value="self"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPMResultPurposeEnumType">
		<xsd:annotation>
			<xsd:documentation>Values describing the purpose of the performance appraisal. Enumerated values are: compensation, developmental, and promotional.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="compensation"/>
			<xsd:enumeration value="developmental"/>
			<xsd:enumeration value="promotional"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPMScheduleEnumType">
		<xsd:annotation>
			<xsd:documentation>Values describing the appraisal schedule type. Enumerated values are: annual, midyear, interim, probation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="annual"/>
			<xsd:enumeration value="midyear"/>
			<xsd:enumeration value="interim"/>
			<xsd:enumeration value="probation"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPMStatusEnumType">
		<xsd:annotation>
			<xsd:documentation>Values describing status of a performance management process component (e.g., an Objective). Enumerated values are: in progress, complete, canceled, not known, and not applicable.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="in progress"/>
			<xsd:enumeration value="complete"/>
			<xsd:enumeration value="canceled"/>
			<xsd:enumeration value="not known"/>
			<xsd:enumeration value="not applicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GenderCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 5218 - Representation of Human Sexes (0 - Not Known; 1 - Male; 2 - Female; 9 - Not specified)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[0129]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InternetEmailAddressType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InternetWebAddressType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageCodeType">
		<xsd:annotation>
			<xsd:documentation>ISO 639-1 two character code is preferred, but not required.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:language"/>
	</xsd:simpleType>
	<xsd:simpleType name="LearningObjectUseEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="required"/>
			<xsd:enumeration value="recommended"/>
			<xsd:enumeration value="required or equivalent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalTimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotApplicableLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notApplicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotKnownLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notKnown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="xStringPatternExtensionType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="x:\S.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="BehaviorialIndicatorRatingType">
		<xsd:annotation>
			<xsd:documentation>Contains ratings about a behavioral indicator that evidences an associated competency. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="EPMSectionSingleResultBaseType">
				<xsd:sequence>
					<xsd:element name="BehavioralIndicatorId" type="EntityIdType" minOccurs="0"/>
					<xsd:element name="BehavioralIndicatorName" type="xsd:string" minOccurs="0"/>
					<xsd:element ref="UserArea" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInfoType">
		<xsd:sequence>
			<xsd:element ref="Telephone" minOccurs="0"/>
			<xsd:element ref="InternetEmailAddress" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DependentItemReferenceType">
		<xsd:sequence>
			<xsd:element name="DependentItemId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="DependentItemName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EntityIdType">
		<xsd:sequence>
			<xsd:element name="IdValue" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="name" type="xsd:string" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="validFrom" type="AnyDateTimeNkNaType" use="optional"/>
		<xsd:attribute name="validTo" type="AnyDateTimeNkNaType" use="optional"/>
		<xsd:attribute name="idOwner" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="EPMCommentsType">
		<xsd:annotation>
			<xsd:documentation>A container for rater's comments. raterIdRef can be used to correlate the comment with a particular rater.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="raterIdRef" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EPMCompetencyGroupResultType">
		<xsd:annotation>
			<xsd:documentation>Provides a structure for grouping and providing a summary score for a set of individual competencies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="EPMResultGroupBaseType">
				<xsd:sequence>
					<xsd:element name="CompetencySingleResult" type="EPMCompetencySingleResultType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EPMCompetencyReferenceType">
		<xsd:annotation>
			<xsd:documentation>A reference to identify a competency. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FlexibleCompetencyReferenceType">
				<xsd:sequence>
					<xsd:element name="CompetencyName" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EPMCompetencySingleResultType">
		<xsd:annotation>
			<xsd:documentation>Contains rating information with respect to a single competency. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="EPMSectionSingleResultBaseType">
				<xsd:sequence>
					<xsd:element name="CompetencyAssessed" type="EPMCompetencyReferenceType" minOccurs="0"/>
					<xsd:element name="BehavioralIndicatorScoringInfo" type="BehaviorialIndicatorRatingType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="DevelopmentItem" type="EPMDevelopmentPlanItemType" minOccurs="0"/>
					<xsd:element ref="UserArea" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EPMDevelopmentPlanItemType">
		<xsd:annotation>
			<xsd:documentation>A structure for a development goal or item included within a development plan.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DevelopmentItemId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="DevelopmentItemName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DevelopmentItemDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LearningObjectReference" type="LearningObjectReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DevelopmentItemStatus" type="EPMStatusType" minOccurs="0"/>
			<xsd:element name="DevelopmentItemStatusDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="TargetDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DevelopmentItemMetric" type="EPMMetricType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMIncentiveType">
		<xsd:annotation>
			<xsd:documentation>Defines a structure to capture information about the type and amount of incentives that might be part of a remuneration recommendation issued in connection with a performance appraisal or performance management process.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IncentiveName" type="xsd:string"/>
			<xsd:element name="IncentiveValue" type="EPMRecommendedAmountType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMMetricType">
		<xsd:annotation>
			<xsd:documentation>A metric in an objective plan against which results will be measured. Includes a name or label to identify the metric and a value for any related numeric or text value expressing the required measure or dimension. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MeasureId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="MeasureName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MeasureValue" type="NumericAndStringScoreType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMMultiraterSummaryType">
		<xsd:annotation>
			<xsd:documentation>Used when performance process involves multiple raters. Provides summary information, including the lowest score, highest score, mean score, and a percentile rating.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LowestRating" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HighestRating" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MeanRating" type="xsd:double" minOccurs="0"/>
			<xsd:element name="PercentileRating" type="xsd:decimal" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMObjectiveGroupResultType">
		<xsd:annotation>
			<xsd:documentation>Provides a structure for grouping and providing a summary score for a set of individual objectives.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectiveGroupId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element name="TargetDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ObjectiveMetric" type="EPMMetricType" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupStatus" type="EPMStatusEnumType" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupStatusDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ObjectiveResultAgainstMetric" type="EPMMetricType" minOccurs="0"/>
			<xsd:element name="Score" type="NumericAndStringScoreType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element draws upon the "NumericValue" and "StringValue" global elements within CompetencyTypes. One or both may appear.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Band" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A name assigned to a portion of a curve - a graph mapping the results of a comparison group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRaterScore" type="MultiRaterIndividualScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MultiRaterScoreSummary" type="EPMMultiraterSummaryType" minOccurs="0"/>
			<xsd:element name="MultiRaterGroupScore" type="MultiRaterGroupScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ObjectiveSingleResult" type="EPMObjectiveResultType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMObjectiveGroupType">
		<xsd:annotation>
			<xsd:documentation>Provides a structure for grouping objectives within an objectives plan.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectiveGroupId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element name="TargetDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupStatus" type="EPMStatusEnumType" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupMetric" type="EPMMetricType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Objective" type="EPMObjectiveType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMObjectiveResultType">
		<xsd:annotation>
			<xsd:documentation>Contains data related to an individual objective result or rating.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectiveId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="ObjectiveName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ObjectiveDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element name="TargetDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ObjectiveMetric" type="EPMMetricType" minOccurs="0"/>
			<xsd:element name="ObjectiveStatus" type="EPMStatusType" minOccurs="0"/>
			<xsd:element name="ObjectiveStatusDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ObjectiveResultAgainstMetric" type="EPMMetricType" minOccurs="0"/>
			<xsd:element name="Score" type="NumericAndStringScoreType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element draws upon the "NumericValue" and "StringValue" global elements within CompetencyTypes. One or both may appear.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Band" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A name assigned to a portion of a curve - a graph mapping the results of a comparison group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRaterScore" type="MultiRaterIndividualScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MultiRaterScoreSummary" type="EPMMultiraterSummaryType" minOccurs="0"/>
			<xsd:element name="MultiRaterGroupScore" type="MultiRaterGroupScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMObjectivesResultType">
		<xsd:sequence>
			<xsd:element name="ResultId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="ResultDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Required element. Date of the EPM result.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AppraisalPeriod" type="EPMPeriodType" minOccurs="0"/>
			<xsd:element name="ProviderId" type="EntityIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An optional identifier for the EPM provider or source of the EPM Result.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectivePlanId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="PreparedBy" type="EPMPersonType" minOccurs="0"/>
			<xsd:element name="AppraisalSubject" type="EPMPersonType"/>
			<xsd:element name="ReasonCode" type="EPMReasonCodeType" minOccurs="0"/>
			<xsd:element name="ScheduleType" type="EPMScheduleType" minOccurs="0"/>
			<xsd:element name="OverallRating" type="EPMOverallRatingType" minOccurs="0"/>
			<xsd:element name="ObjectivesSection" type="EPMObjectivesSectionType" minOccurs="0"/>
			<xsd:element name="RaterPanelInfo" type="EPMRaterPanelInfoType" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang"/>
	</xsd:complexType>
	<xsd:complexType name="EPMObjectivesSectionType">
		<xsd:annotation>
			<xsd:documentation>This type contains information related to an "Objectives Section" in a performance appraisal.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SectionTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SectionSummaryResult" type="EPMSectionSummaryResultType" minOccurs="0"/>
			<xsd:element name="ObjectiveGroupResult" type="EPMObjectiveGroupResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ObjectiveSingleResult" type="EPMObjectiveResultType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMObjectiveType">
		<xsd:annotation>
			<xsd:documentation>Contains metadata about an objective included in an objective plan type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectiveId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="ObjectiveName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ObjectiveDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element name="TargetDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ObjectiveMetric" type="EPMMetricType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ObjectiveStatus" type="EPMStatusType" minOccurs="0"/>
			<xsd:element name="ObjectiveStatusDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DependentItemReference" type="DependentItemReferenceType" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMOtherRatingSectionSingleResult">
		<xsd:annotation>
			<xsd:documentation>Contains rating information with respect to a single item within a "OtherRatingSection" -- that is, a section that is neither a CompetencySection or ObjectivesSection.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="EPMSectionSingleResultBaseType">
				<xsd:sequence>
					<xsd:element ref="UserArea" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EPMOverallRatingType">
		<xsd:annotation>
			<xsd:documentation>Provides an overall or summary performance rating.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScoreId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Passed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An boolean indicating whether or not minimum thresholds have been satisfied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>"Label" of the score</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Score" type="NumericAndStringScoreType" minOccurs="0"/>
			<xsd:element name="Band" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StackRankInfo" type="StackRankType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMPeriodType">
		<xsd:annotation>
			<xsd:documentation>Contains the start date and end date time period related to an employee performance management process.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMPersonType">
		<xsd:annotation>
			<xsd:documentation>Contains basic information identifying a person with a role in an employee performance management process.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PersonId" type="EntityIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier for the person who is the subject of the EPM process.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonLegalId" type="EntityIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>May be relevant in communicating to compensation/payroll systems.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PersonName" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMRaterPanelInfoType">
		<xsd:sequence>
			<xsd:element name="Rater" type="EPMRaterType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMRaterRelationshipGroupType">
		<xsd:annotation>
			<xsd:documentation>Container to allow choice of standard values or custom values describing the relationship of the rater to the appraisal subject.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="StandardValue" type="EPMRelationshipGroupEnumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Enumerations are: customer, peer, supervisor, direct report, and self.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NonStandardValue" type="xsd:string" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EPMRaterType">
		<xsd:sequence>
			<xsd:element name="RaterId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="EmployeeId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="RelationshipGroup" type="EPMRaterRelationshipGroupType" minOccurs="0"/>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element ref="PersonName" minOccurs="0"/>
			<xsd:element name="OrganizationName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContactInfo" type="ContactInfoType" minOccurs="0"/>
			<xsd:element name="IsConfidential" type="xsd:boolean" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMReasonCodeType">
		<xsd:annotation>
			<xsd:documentation>Identifies the reason for the performance management process. Provides a choice between standard enumerated values (promotion; job change; and scheduled) and a user-defined value.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="StandardValue" type="EPMReasonCodeEnumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Enumerated values are: promotion; job change; and scheduled.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NonStandardValue" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional choice to specify a non-enumerated value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EPMRecommendedAmountType">
		<xsd:annotation>
			<xsd:documentation>A base type that is reused in several types related to remuneration recommendations that are developed as part of a performance appraisal or performance management process.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="Fixed" type="xsd:decimal"/>
			<xsd:element name="PercentageIncrease" type="xsd:decimal"/>
		</xsd:choice>
		<xsd:attribute name="currencyCode" type="CurrencyCodeType"/>
	</xsd:complexType>
	<xsd:complexType name="EPMRemunerationRecommendationType">
		<xsd:annotation>
			<xsd:documentation>Contains information relating to a pay or remuneration change related to a performance management result.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReferenceId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CurrentBasePay" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:decimal">
							<xsd:attribute name="currencyCode" type="CurrencyCodeType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="NewBasePay" type="EPMRecommendedAmountType" minOccurs="0"/>
				<xsd:element name="Bonus" type="EPMRecommendedAmountType" minOccurs="0"/>
				<xsd:element name="Incentive" type="EPMIncentiveType" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMResultGroupBaseType">
		<xsd:annotation>
			<xsd:documentation>A base type for common items used by EPMCompetencyGroupResultType and EPMOtherRatingGroupResultType.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScoreId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Passed" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element name="Score" type="NumericAndStringScoreType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element draws upon the "NumericValue" and "StringValue" global elements within CompetencyTypes. One or both may appear.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Band" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A name assigned to a portion of a curve - a graph mapping the results of a comparison group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRaterScore" type="MultiRaterIndividualScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MultiRaterScoreSummary" type="EPMMultiraterSummaryType" minOccurs="0"/>
			<xsd:element name="MultiRaterGroupScore" type="MultiRaterGroupScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMScheduleType">
		<xsd:annotation>
			<xsd:documentation>Identifies the appraisal schedule type. Provides a choice between standard enumerated values (annual, midyear, interim, probation) and a custom value.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="StandardValue" type="EPMScheduleEnumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Enumerated values are: annual, mid-year, and probation (i.e., end of probation period). </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NonStandardValue" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Optional choice to specify a non-enumerated value.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EPMSectionSingleResultBaseType">
		<xsd:annotation>
			<xsd:documentation>A base type for common items used by EPMCompetencySingleResultType and EPMOtherRatingSingleResultType.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScoreId" type="EntityIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An identifier for the score.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Passed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An boolean indicating whether or not minimum thresholds have been satisfied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>"Label" of the score</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The relative value or importance of the associated component.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Score" type="NumericAndStringScoreType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element draws upon the "NumericValue" and "StringValue" global elements within CompetencyTypes. One or both may appear.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Band" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A name assigned to a portion of a curve - a graph mapping the results of a comparison group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IndividualRaterScore" type="MultiRaterIndividualScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MultiRaterScoreSummary" type="EPMMultiraterSummaryType" minOccurs="0"/>
			<xsd:element name="MultiRaterGroupScore" type="MultiRaterGroupScoresType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMSectionSummaryResultType">
		<xsd:annotation>
			<xsd:documentation>This is a base type used to provide summary scoring for a particular performance appraisal section.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScoreId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Passed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An boolean indicating whether or not minimum thresholds have been satisfied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>"Label" of the score</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element name="Score" type="NumericAndStringScoreType" minOccurs="0"/>
			<xsd:element name="Band" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPMStatusType">
		<xsd:annotation>
			<xsd:documentation>Provides a choice between a standard and non-standard value describing a status of a performance management process component (e.g., an Objective). Enumerated standard values are: in progress, complete, canceled, not known, and not applicable.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="StandardValue" type="EPMStatusEnumType"/>
			<xsd:element name="NonStandardValue" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FlexibleCompetencyReferenceType">
		<xsd:sequence>
			<xsd:element ref="CompetencyId" minOccurs="0"/>
			<xsd:element name="ProficencyLevel" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Same as above, but Id is not required. Contains a value indicating a level of proficiency.  The scale and meaning of the proficiency level value is determined within the context of the particular competency taxonomy referenced. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LearningObjectReferenceType">
		<xsd:sequence>
			<xsd:element name="LearningObjectId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="LearningObjectName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LearningObjectUse" type="LearningObjectUseEnumType" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MobileTelcomNumberType">
		<xsd:complexContent>
			<xsd:extension base="TelcomNumberType">
				<xsd:attribute name="smsEnabled" type="xsd:boolean" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MultiRaterGroupScoresType">
		<xsd:annotation>
			<xsd:documentation>A container to allow summary scores for a class of raters (for example, customers)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RaterGroup" type="EPMRaterRelationshipGroupType"/>
			<xsd:element name="Score" type="NumericAndStringScoreType"/>
			<xsd:element name="ScoreDetail" type="EPMMultiraterSummaryType" minOccurs="0"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MultiRaterIndividualScoresType">
		<xsd:annotation>
			<xsd:documentation>A repeatable container designed to capture the score of an individual rater.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RaterId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Score" type="NumericAndStringScoreType" minOccurs="0"/>
			<xsd:element name="Comments" type="EPMCommentsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NumericAndStringScoreType">
		<xsd:sequence>
			<xsd:element ref="NumericValue" minOccurs="0"/>
			<xsd:element ref="StringValue" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NumericValueType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:double">
				<xsd:attribute name="minValue" type="xsd:double"/>
				<xsd:attribute name="maxValue" type="xsd:double"/>
				<xsd:attribute name="interval" type="xsd:double"/>
				<xsd:attribute name="description" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:sequence>
			<xsd:element name="FormattedName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LegalName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GivenName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PreferredGivenName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FamilyName" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="primary">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="true"/>
										<xsd:enumeration value="false"/>
										<xsd:enumeration value="undefined"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="prefix" type="xsd:string"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Affix" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="type" use="required">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="aristocraticTitle"/>
										<xsd:enumeration value="formOfAddress"/>
										<xsd:enumeration value="generation"/>
										<xsd:enumeration value="qualification"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlternateScript" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FormattedName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="LegalName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="GivenName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PreferredGivenName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="FamilyName" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="primary">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="true"/>
													<xsd:enumeration value="false"/>
													<xsd:enumeration value="undefined"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="prefix" type="xsd:string"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Affix" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="type" use="required">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="aristocraticTitle"/>
													<xsd:enumeration value="formOfAddress"/>
													<xsd:enumeration value="generation"/>
													<xsd:enumeration value="qualification"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="script" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="script" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="PostalAddressType">
		<xsd:sequence>
			<xsd:element name="CountryCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Z]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Region" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Municipality" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryAddress" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AddressLine" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="StreetName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="BuildingNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Unit" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PostOfficeBox" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Recipient" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PersonName" type="PersonNameType" minOccurs="0"/>
						<xsd:element name="AdditionalText" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="Organization" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Deprecated in favor of OrganizationName element.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OrganizationName" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="postOfficeBoxAddress"/>
					<xsd:enumeration value="streetAddress"/>
					<xsd:enumeration value="militaryAddress"/>
					<xsd:enumeration value="undefined"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedCompetencyReferenceType">
		<xsd:sequence>
			<xsd:element ref="CompetencyId"/>
			<xsd:element name="ProficencyLevel" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains a value indicating a level of proficiency. 
					The scale and meaning of the proficiency level value is determined within the context of the particular competency taxonomy referenced. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StackRankType">
		<xsd:sequence>
			<xsd:element name="StackRankGroupId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="StackRankGroupName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StackRank" type="xsd:integer"/>
			<xsd:element name="StackRankGroupSize" type="xsd:integer" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TelcomNumberType">
		<xsd:choice>
			<xsd:element ref="FormattedNumber"/>
			<xsd:group ref="TelcomNumberGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="UserAreaType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>In order to prevent a possible "ambiguous content model" errors in an instance, unbounded sequences were either eliminated from or deprecated in all HR-XML schemas. Removing unbounded sequences ensures that ambiguous errors are not found in an instance.  The unbounded sequence here is officially deprecated and will be changed to a single sequence.</xsd:documentation>
			</xsd:annotation>
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AreaCityCode" type="xsd:string"/>
	<xsd:element name="CompetencyId" type="EntityIdType">
		<xsd:annotation>
			<xsd:documentation>A globally scoped element containing an identifier for a competency being referenced. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="CountryCodeType"/>
	<xsd:element name="CurrencyCode" type="CurrencyCodeType"/>
	<xsd:element name="EPMRaterPanelInfo" type="EPMRaterPanelInfoType"/>
	<xsd:element name="EPMRemunerationDetail" type="EPMRemunerationRecommendationType"/>
	<xsd:element name="Extension" type="xsd:string"/>
	<xsd:element name="Fax" type="TelcomNumberType"/>
	<xsd:element name="FormattedNumber" type="xsd:string"/>
	<xsd:element name="GenderCode" type="GenderCodeType"/>
	<xsd:element name="InternationalCountryCode" type="xsd:string"/>
	<xsd:element name="InternetEmailAddress" type="InternetEmailAddressType"/>
	<xsd:element name="InternetWebAddress" type="InternetWebAddressType"/>
	<xsd:element name="LanguageCode" type="LanguageCodeType"/>
	<xsd:element name="Location" type="contactMethodLocationPatternExtensionType"/>
	<xsd:element name="Mobile" type="MobileTelcomNumberType"/>
	<xsd:element name="NationalNumber" type="xsd:string"/>
	<xsd:element name="NumericValue" type="NumericValueType"/>
	<xsd:element name="Pager" type="TelcomNumberType"/>
	<xsd:element name="PersonName" type="PersonNameType"/>
	<xsd:element name="PostalAddress" type="PostalAddressType"/>
	<xsd:element name="SpecifiedCompetencyReference" type="SpecifiedCompetencyReferenceType">
		<xsd:annotation>
			<xsd:documentation>This element is mainly for documentation purposes. SpecifiedCompetencyReferenceType would generally be 
			used with an element named for the context in which it appears. For example, the CompetenciesAssessed elment within AssessmentCatalog
			extends SpecifiedCompetencyReferenceType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StringValue">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="minValue" type="xsd:string"/>
					<xsd:attribute name="maxValue" type="xsd:string"/>
					<xsd:attribute name="description" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SubscriberNumber" type="xsd:string"/>
	<xsd:element name="Telephone" type="TelcomNumberType"/>
	<xsd:element name="TTYTDD" type="TelcomNumberType"/>
	<xsd:element name="Use" type="contactMethodUsePatternExtensionType"/>
	<xsd:element name="UserArea" type="UserAreaType">
		<xsd:annotation>
			<xsd:documentation>HR-XML Technical Steering Committee endorsed extension element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WhenAvailable" type="contactMethodWhenAvailableType"/>
	<xsd:group name="TelcomNumberGroup">
		<xsd:sequence>
			<xsd:element ref="InternationalCountryCode" minOccurs="0"/>
			<xsd:element ref="NationalNumber" minOccurs="0"/>
			<xsd:element ref="AreaCityCode" minOccurs="0"/>
			<xsd:element ref="SubscriberNumber"/>
			<xsd:element ref="Extension" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
