lib/hr-xml-2.5/HR-XML-2_5/StandAlone/Grant.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Chuck Allen (HR-XML Consortium, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ns.hr-xml.org/2007-04-15" xmlns:oa="http://www.openapplications.org/oagis" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://ns.hr-xml.org/2007-04-15" elementFormDefault="qualified" version="2007-04-15">
	<xsd:annotation>
		<xsd:documentation>"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"

Terms of license can be found in license.txt.
</xsd:documentation>
		<xsd:documentation>Stand alone (but non-normative) version of schema, with all "includes" inserted explicitly.  This file is auto-generated.  It should be considered a "convenience" alternative to the normative versions.</xsd:documentation>
		<xsd:documentation>After merging all includes, the result is passed through a stylesheet which deletes any duplicative global components as well as any unused global types.  Finally, it sorts by component name.  Be sure to check the Xml Namespaces to ensure this result is what you requested.</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="Grant" type="GrantDataType"/>
	<xsd:simpleType name="AnyDateTimeNkNaType">
		<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType NotKnownLiteral NotApplicableLiteral"/>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 3166 Representation of Countries.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 4217 - Representation of Currency and Funds</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GenderCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 5218 - Representation of Human Sexes (0 - Not Known; 1 - Male; 2 - Female; 9 - Not specified)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[0129]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageCodeType">
		<xsd:annotation>
			<xsd:documentation>ISO 639-1 two character code is preferred, but not required.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:language"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalTimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotApplicableLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notApplicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotKnownLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notKnown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StockOptionPlanExtensionType">
		<xsd:union memberTypes="StockOptionPlanType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StockOptionPlanType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Qualified"/>
			<xsd:enumeration value="Non Qualified"/>
			<xsd:enumeration value="Stock Appreciation Rights"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StockPlanExtensionType">
		<xsd:union memberTypes="StockPlanTypeEnumeration xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StockPlanTypeEnumeration">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Stock Options"/>
			<xsd:enumeration value="Stock Purchase"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StockPurchasePlanExtensionType">
		<xsd:union memberTypes="StockPurchasePlanType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="StockPurchasePlanType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Qualified"/>
			<xsd:enumeration value="Non Qualified"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="xStringPatternExtensionType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="x:\S.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EntityIdType">
		<xsd:sequence>
			<xsd:element name="IdValue" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="name" type="xsd:string" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="validFrom" type="AnyDateTimeNkNaType" use="optional"/>
		<xsd:attribute name="validTo" type="AnyDateTimeNkNaType" use="optional"/>
		<xsd:attribute name="idOwner" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="GrantDataType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType"/>
			<xsd:element name="ParticipantId" type="EntityIdType"/>
			<xsd:element name="PlanId" type="EntityIdType"/>
			<xsd:element name="GrantType" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="StockOptionPlanExtensionType">
							<xsd:attribute name="country" type="CountryCodeType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Restricted" type="xsd:boolean"/>
			<xsd:element name="Repurchasable" type="xsd:boolean"/>
			<xsd:element name="SharesGranted" type="xsd:decimal"/>
			<xsd:element name="SharesAccepted" type="xsd:decimal"/>
			<xsd:element name="GrantPrice" type="xsd:double" minOccurs="0"/>
			<xsd:element name="FairMarketValue" type="xsd:double" minOccurs="0"/>
			<xsd:element name="BlackOutInformation" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Period" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="validFrom" type="LocalDateType" use="required"/>
								<xsd:attribute name="validTo" type="LocalDateType" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VestingInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Shares" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Quantity" type="xsd:decimal"/>
									<xsd:element name="VestingDate" type="LocalDateType"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Rule" type="xsd:string" maxOccurs="unbounded"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ExercisabilityInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Shares" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Quantity" type="xsd:decimal"/>
									<xsd:element name="ExerciseDate" type="LocalDateType"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Rule" type="xsd:string" maxOccurs="unbounded"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Comment" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="xml:lang"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="validTo" type="LocalDateType" use="required"/>
		<xsd:attribute name="grantDate" type="LocalDateType" use="required"/>
		<xsd:attribute name="grantCurrency" type="CurrencyCodeType"/>
	</xsd:complexType>
	<xsd:complexType name="StockPlanType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType"/>
			<xsd:element name="CompanyId" type="EntityIdType"/>
			<xsd:element name="PlanType" type="StockPlanExtensionType"/>
			<xsd:element name="Name" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="xml:lang" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Description" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="xml:lang" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Stock">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Id" type="EntityIdType"/>
						<xsd:element name="Symbol" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Exchange" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BlackOutInformation" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Period" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="validFrom" type="LocalDateType" use="required"/>
								<xsd:attribute name="validTo" type="LocalDateType" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="StockOptionInfo">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockOptionType" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="StockOptionPlanExtensionType">
											<xsd:attribute name="country" type="CountryCodeType"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Ratio" type="xsd:integer"/>
							<xsd:element name="QualifiedGrantsAllowed" type="xsd:boolean"/>
							<xsd:element name="NonQualifiedGrantsAllowed" type="xsd:boolean"/>
							<xsd:element name="QualifiedGrantDefault">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Qualified"/>
										<xsd:enumeration value="NonQualified"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="StockAppreciationRights">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="standalone"/>
										<xsd:enumeration value="tandem"/>
										<xsd:enumeration value="additive"/>
										<xsd:enumeration value="notApplicable"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="MaximumNumberOfShares" type="xsd:positiveInteger"/>
							<xsd:element name="MinimumNumberToExercise" type="xsd:positiveInteger"/>
							<xsd:element name="MaximumNumberToExercise" type="xsd:positiveInteger"/>
							<xsd:element name="BlocksToExercise" type="xsd:positiveInteger"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="StockPurchaseInfo">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="StockPurchaseType" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="StockPurchasePlanExtensionType">
											<xsd:attribute name="country" type="CountryCodeType"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="OfferingPeriod" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="validFrom" type="LocalDateType" use="required"/>
									<xsd:attribute name="validTo" type="LocalDateType" use="required"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ContributionRulesDescription" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute ref="xml:lang" use="required"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PurchaseRulesDescription" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute ref="xml:lang" use="required"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="validFrom" type="LocalDateType" use="required"/>
		<xsd:attribute name="validTo" type="LocalDateType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="UserAreaType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>In order to prevent a possible "ambiguous content model" errors in an instance, unbounded sequences were either eliminated from or deprecated in all HR-XML schemas. Removing unbounded sequences ensures that ambiguous errors are not found in an instance.  The unbounded sequence here is officially deprecated and will be changed to a single sequence.</xsd:documentation>
			</xsd:annotation>
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CountryCode" type="CountryCodeType"/>
	<xsd:element name="CurrencyCode" type="CurrencyCodeType"/>
	<xsd:element name="GenderCode" type="GenderCodeType"/>
	<xsd:element name="LanguageCode" type="LanguageCodeType"/>
	<xsd:element name="StockPlan" type="StockPlanType"/>
	<xsd:element name="UserArea" type="UserAreaType">
		<xsd:annotation>
			<xsd:documentation>HR-XML Technical Steering Committee endorsed extension element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
