lib/hr-xml-2.5/HR-XML-2_5/StandAlone/PositionOpening.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Chuck Allen (HR-XML Consortium, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ns.hr-xml.org/2007-04-15" xmlns:oa="http://www.openapplications.org/oagis" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://ns.hr-xml.org/2007-04-15" elementFormDefault="qualified" version="2007-04-15">
	<xsd:annotation>
		<xsd:documentation>"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"

Terms of license can be found in license.txt.
</xsd:documentation>
		<xsd:documentation>Stand alone (but non-normative) version of schema, with all "includes" inserted explicitly.  This file is auto-generated.  It should be considered a "convenience" alternative to the normative versions.</xsd:documentation>
		<xsd:documentation>After merging all includes, the result is passed through a stylesheet which deletes any duplicative global components as well as any unused global types.  Finally, it sorts by component name.  Be sure to check the Xml Namespaces to ensure this result is what you requested.</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="PositionOpening" type="PositionOpeningType"/>
	<xsd:simpleType name="AnyDateTimeNkNaType">
		<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType NotKnownLiteral NotApplicableLiteral"/>
	</xsd:simpleType>
	<xsd:simpleType name="AnyDateTimeType">
		<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType"/>
	</xsd:simpleType>
	<xsd:simpleType name="AnyLocalDateYearMonthDayType">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="AnyLocalDateYearMonthType">
		<xsd:restriction base="xsd:gYearMonth"/>
	</xsd:simpleType>
	<xsd:simpleType name="AnyLocalDateYearType">
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>
	<xsd:simpleType name="AreaTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="municipality"/>
			<xsd:enumeration value="postalcode"/>
			<xsd:enumeration value="countrycode"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AssociationTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Professional"/>
			<xsd:enumeration value="Social"/>
			<xsd:enumeration value="Community"/>
			<xsd:enumeration value="Non-Profit"/>
			<xsd:enumeration value="Religious"/>
			<xsd:enumeration value="Political"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicExpatriateBenefitTypeTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Relocation Package"/>
			<xsd:enumeration value="School Fees"/>
			<xsd:enumeration value="Vehicle"/>
			<xsd:enumeration value="Professional Service Fees"/>
			<xsd:enumeration value="Language Instruction"/>
			<xsd:enumeration value="Club Membership"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicFrequencyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hourly"/>
			<xsd:enumeration value="Daily"/>
			<xsd:enumeration value="Weekly"/>
			<xsd:enumeration value="Bi-Weekly"/>
			<xsd:enumeration value="Semi-Monthly"/>
			<xsd:enumeration value="Monthly"/>
			<xsd:enumeration value="Month-Week-1"/>
			<xsd:enumeration value="Month-Week-2"/>
			<xsd:enumeration value="Month-Week-3"/>
			<xsd:enumeration value="Month-Week-4"/>
			<xsd:enumeration value="Month-Week-5"/>
			<xsd:enumeration value="Month-Week-Last"/>
			<xsd:enumeration value="Bi-Monthly"/>
			<xsd:enumeration value="Quarterly"/>
			<xsd:enumeration value="Semi-Annually"/>
			<xsd:enumeration value="Annually"/>
			<xsd:enumeration value="Once"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicHierarchicalRoleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Functional"/>
			<xsd:enumeration value="Logical"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicHoursTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Regular"/>
			<xsd:enumeration value="Overtime"/>
			<xsd:enumeration value="TimeHalf"/>
			<xsd:enumeration value="DoubleTime"/>
			<xsd:enumeration value="Special"/>
			<xsd:enumeration value="Premium"/>
			<xsd:enumeration value="Per Diem"/>
			<xsd:enumeration value="On Call"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicInsuranceTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Medical"/>
			<xsd:enumeration value="Dental"/>
			<xsd:enumeration value="Vision"/>
			<xsd:enumeration value="Life"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicOrganizationalUnitRelationshipType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Child"/>
			<xsd:enumeration value="Sibling"/>
			<xsd:enumeration value="Parent"/>
			<xsd:enumeration value="Ultimate Parent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicOrganizationalUnitStructureType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Reporting"/>
			<xsd:enumeration value="Legal"/>
			<xsd:enumeration value="Fiduciary"/>
			<xsd:enumeration value="Structural"/>
			<xsd:enumeration value="Project"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicOrganizationContactPurposeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Headquarters"/>
			<xsd:enumeration value="Sales"/>
			<xsd:enumeration value="Support"/>
			<xsd:enumeration value="Billing"/>
			<xsd:enumeration value="Legal"/>
			<xsd:enumeration value="Human Resources"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicOrganizationLegalOwnershipType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Public"/>
			<xsd:enumeration value="Private"/>
			<xsd:enumeration value="Government"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicOrganizationRelationshipType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Child"/>
			<xsd:enumeration value="Parent"/>
			<xsd:enumeration value="Ultimate Parent"/>
			<xsd:enumeration value="Domestic Parent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicOtherPayTypeTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Bonus"/>
			<xsd:enumeration value="Commission"/>
			<xsd:enumeration value="Incentive"/>
			<xsd:enumeration value="Sliding Commission"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicPositionClassification">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Direct Hire"/>
			<xsd:enumeration value="Temp to Hire"/>
			<xsd:enumeration value="Contract to Hire"/>
			<xsd:enumeration value="Contract"/>
			<xsd:enumeration value="Temporary"/>
			<xsd:enumeration value="Volunteer"/>
			<xsd:enumeration value="Internship"/>
			<xsd:enumeration value="Apprenticeship"/>
			<xsd:enumeration value="On Call"/>
			<xsd:enumeration value="Remote"/>
			<xsd:enumeration value="Any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicReferenceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Professional"/>
			<xsd:enumeration value="Personal"/>
			<xsd:enumeration value="Verification"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicScaleTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Global"/>
			<xsd:enumeration value="National"/>
			<xsd:enumeration value="Regional"/>
			<xsd:enumeration value="Local"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicScheduleTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Full Time"/>
			<xsd:enumeration value="Part Time"/>
			<xsd:enumeration value="Flex Time"/>
			<xsd:enumeration value="Seasonal"/>
			<xsd:enumeration value="Any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicShiftPeriodTypes">
		<xsd:annotation>
			<xsd:documentation>1 = Monday, 2 = Tuesday, 3 = Wednesday, 4 = Thursday, 5 = Friday, 6 = Saturday, 7 = Sunday</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="On Call"/>
			<xsd:enumeration value="Annual"/>
			<xsd:enumeration value="Rostered"/>
			<xsd:enumeration value="Variable"/>
			<xsd:enumeration value="Monthly"/>
			<xsd:enumeration value="Weekly"/>
			<xsd:enumeration value="Daily"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Inactive"/>
			<xsd:enumeration value="Pending"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicTimeOffTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PaidHoliday"/>
			<xsd:enumeration value="UnpaidHoliday"/>
			<xsd:enumeration value="PaidVacation"/>
			<xsd:enumeration value="PaidLeave"/>
			<xsd:enumeration value="UnpaidLeave"/>
			<xsd:enumeration value="PersonalDays"/>
			<xsd:enumeration value="HealthDays"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BasicWorkStyleTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Independent"/>
			<xsd:enumeration value="Team"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CompetencyWeightType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="levelOfInterest"/>
			<xsd:enumeration value="skillLevel"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodLocationPatternExtensionType">
		<xsd:union memberTypes="contactMethodLocationType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodLocationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="office"/>
			<xsd:enumeration value="vehicle"/>
			<xsd:enumeration value="onPerson"/>
			<xsd:enumeration value="home"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodUsePatternExtensionType">
		<xsd:union memberTypes="contactMethodUseType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodUseType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="business"/>
			<xsd:enumeration value="businessDirect"/>
			<xsd:enumeration value="personal"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contactMethodWhenAvailableType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 3166 Representation of Countries.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 4217 - Representation of Currency and Funds</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DressCodeContentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Professional"/>
			<xsd:enumeration value="Business"/>
			<xsd:enumeration value="Business Casual"/>
			<xsd:enumeration value="Uniform"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DressCodeContentTypes">
		<xsd:union memberTypes="DressCodeContentType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="DunsNumberBaseType">
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EEOCJobCategoryEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Officials and Managers"/>
			<xsd:enumeration value="Professionals"/>
			<xsd:enumeration value=" Technicians"/>
			<xsd:enumeration value="Sales"/>
			<xsd:enumeration value="Official and Clerical"/>
			<xsd:enumeration value="Craft Workers Skilled"/>
			<xsd:enumeration value="Operative SemiSkilled"/>
			<xsd:enumeration value="Laborers Unskilled"/>
			<xsd:enumeration value="Service Workers"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExpatriateBenefitTypeTypes">
		<xsd:union memberTypes="BasicExpatriateBenefitTypeTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="ExtendedAssociationTypeType">
		<xsd:union memberTypes="AssociationTypeType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="ExtendedBasicStatusType">
		<xsd:union memberTypes="BasicStatusType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="ExtendedWeightType">
		<xsd:union memberTypes="CompetencyWeightType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="FLSAStatusEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="exempt"/>
			<xsd:enumeration value="non-exempt"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrequencyType">
		<xsd:union memberTypes="BasicFrequencyType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="GenderCodeType">
		<xsd:annotation>
			<xsd:documentation>Must conform to ISO 5218 - Representation of Human Sexes (0 - Not Known; 1 - Male; 2 - Female; 9 - Not specified)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[0129]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HandicapStatusEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HandicapOnly"/>
			<xsd:enumeration value="All"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HierarchicalRoleType">
		<xsd:union memberTypes="BasicHierarchicalRoleType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="InsuranceTypes">
		<xsd:union memberTypes="BasicInsuranceTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="InternetEmailAddressType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="InternetWebAddressType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageCodeType">
		<xsd:annotation>
			<xsd:documentation>ISO 639-1 two character code is preferred, but not required.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:language"/>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeType">
		<xsd:annotation>
			<xsd:documentation>Negative numbers are degrees South Latitude, and positive numbers are degrees North Latitude.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="-90.0"/>
			<xsd:maxInclusive value="90.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateNkNaType">
		<xsd:union memberTypes="LocalDateType NotKnownLiteral NotApplicableLiteral"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalTimeNkNaType">
		<xsd:union memberTypes="LocalTimeType NotKnownLiteral NotApplicableLiteral"/>
	</xsd:simpleType>
	<xsd:simpleType name="LocalTimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocationAreaTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="municipality"/>
			<xsd:enumeration value="postalcode"/>
			<xsd:enumeration value="countrycode"/>
			<xsd:enumeration value="region"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LongitudeType">
		<xsd:annotation>
			<xsd:documentation>Negative numbers are degrees West Longitude, and positive numbers are degrees East Longitude.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="-180.0"/>
			<xsd:maxInclusive value="180.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeDecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotApplicableLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notApplicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotKnownLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notKnown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationalUnitRelationshipType">
		<xsd:union memberTypes="BasicOrganizationalUnitRelationshipType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationalUnitStructureType">
		<xsd:union memberTypes="BasicOrganizationalUnitStructureType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationContactPurposeType">
		<xsd:union memberTypes="BasicOrganizationContactPurposeType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationLegalOwnershipType">
		<xsd:union memberTypes="BasicOrganizationLegalOwnershipType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OrganizationRelationshipType">
		<xsd:union memberTypes="BasicOrganizationRelationshipType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OtherIntervalType">
		<xsd:union memberTypes="BasicFrequencyType SignOnType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OtherPayTypeTypes">
		<xsd:union memberTypes="BasicOtherPayTypeTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="PositionScheduleType">
		<xsd:union memberTypes="BasicScheduleTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReferenceTypes">
		<xsd:union memberTypes="BasicReferenceType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipsType">
		<xsd:union memberTypes="RelationshipType xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="agent"/>
			<xsd:enumeration value="broker"/>
			<xsd:enumeration value="self"/>
			<xsd:enumeration value="referrer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScaleType">
		<xsd:union memberTypes="BasicScaleTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="ShiftPeriodType">
		<xsd:union memberTypes="BasicShiftPeriodTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="SignOnType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Sign-on"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SourceEnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Job Board"/>
			<xsd:enumeration value="Staffing Agency"/>
			<xsd:enumeration value="Intermediary"/>
			<xsd:enumeration value="Referrer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StaffingPositionClassificationType">
		<xsd:union memberTypes="BasicPositionClassification xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeOffTypes">
		<xsd:union memberTypes="BasicTimeOffTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="USPayTypeHoursType">
		<xsd:union memberTypes="BasicHoursTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="WorkStyleType">
		<xsd:union memberTypes="BasicWorkStyleTypes xStringPatternExtensionType"/>
	</xsd:simpleType>
	<xsd:simpleType name="xStringPatternExtensionType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="x:\S.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AccountingCodeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="description" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AchievementType">
		<xsd:sequence>
			<xsd:element name="Date" type="FlexibleDatesType" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IssuingAuthority" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApplicationMethodType">
		<xsd:sequence>
			<xsd:element ref="Telephone" minOccurs="0"/>
			<xsd:element ref="Fax" minOccurs="0"/>
			<xsd:element ref="InternetEmailAddress" minOccurs="0"/>
			<xsd:element ref="InternetWebAddress" minOccurs="0"/>
			<xsd:element ref="PostalAddress" minOccurs="0"/>
			<xsd:element name="InPerson" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TravelDirections" type="xsd:string" minOccurs="0"/>
						<xsd:element name="MapLink" type="InternetWebAddressType" minOccurs="0"/>
						<xsd:element name="AdditionalInstructions" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AreaType">
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:string"/>
			<xsd:element name="Area" type="AreaType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:union memberTypes="AreaTypeType xStringPatternExtensionType"/>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AssociationType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Link" type="InternetWebAddressType" minOccurs="0"/>
			<xsd:element name="StartDate" type="FlexibleDatesType" minOccurs="0"/>
			<xsd:element name="EndDate" type="FlexibleDatesType" minOccurs="0"/>
			<xsd:element name="Role" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Deliverable" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="StartDate" type="FlexibleDatesType" minOccurs="0"/>
						<xsd:element name="EndDate" type="FlexibleDatesType" minOccurs="0"/>
						<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BasePayType">
		<xsd:sequence>
			<xsd:element name="BasePayAmountMin" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="BasePayAmountMax" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="currencyCode" type="CurrencyCodeType"/>
		<xsd:attribute name="baseInterval" type="FrequencyType"/>
	</xsd:complexType>
	<xsd:complexType name="BenefitsType">
		<xsd:sequence>
			<xsd:element name="Insurance" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:boolean">
							<xsd:attribute name="type" type="InsuranceTypes"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RetirementOrSavingsPlan" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="CompanyVehicle" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="companyOffered" type="xsd:boolean"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RelocationAssistance" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="companyOffered" type="xsd:boolean"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="VisaSponsorship" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="TimeOffAllowance" type="TimeOffAllowanceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExpatriateBenefits" type="ExpatriateBenefitsType" minOccurs="0"/>
			<xsd:element name="OtherBenefits" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="type" type="xsd:string"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompetencyType">
		<xsd:sequence>
			<xsd:element name="CompetencyId" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:string" use="required"/>
					<xsd:attribute name="idOwner" type="xsd:string"/>
					<xsd:attribute name="description" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TaxonomyId" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:string" use="required"/>
					<xsd:attribute name="idOwner" type="xsd:string"/>
					<xsd:attribute name="description" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CompetencyEvidence" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EvidenceId" minOccurs="0">
							<xsd:complexType>
								<xsd:attribute name="id" type="xsd:string" use="required"/>
								<xsd:attribute name="idOwner" type="xsd:string"/>
								<xsd:attribute name="description" type="xsd:string"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:choice>
							<xsd:element ref="NumericValue"/>
							<xsd:element ref="StringValue"/>
						</xsd:choice>
						<xsd:element ref="SupportingInformation" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="dateOfIncident" type="AnyDateTimeType"/>
					<xsd:attribute name="name" type="xsd:string"/>
					<xsd:attribute name="typeDescription" type="xsd:string"/>
					<xsd:attribute name="expirationDate" type="AnyDateTimeType"/>
					<xsd:attribute name="typeId" type="xsd:string"/>
					<xsd:attribute name="required" type="xsd:boolean"/>
					<xsd:attribute name="lastUsed" type="AnyDateTimeType"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CompetencyWeight" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element ref="NumericValue"/>
							<xsd:element ref="StringValue"/>
						</xsd:choice>
						<xsd:element ref="SupportingInformation" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="type" type="ExtendedWeightType"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="Competency" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="required" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="ContactMethodType">
		<xsd:sequence>
			<xsd:element ref="Use" minOccurs="0"/>
			<xsd:element ref="Location" minOccurs="0"/>
			<xsd:element ref="WhenAvailable" minOccurs="0"/>
			<xsd:element ref="Telephone" minOccurs="0"/>
			<xsd:element ref="Mobile" minOccurs="0"/>
			<xsd:element ref="Fax" minOccurs="0"/>
			<xsd:element ref="Pager" minOccurs="0"/>
			<xsd:element ref="TTYTDD" minOccurs="0"/>
			<xsd:element ref="InternetEmailAddress" minOccurs="0"/>
			<xsd:element ref="InternetWebAddress" minOccurs="0"/>
			<xsd:element ref="PostalAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DELocalizedPositionClassificationType">
		<xsd:sequence>
			<xsd:element name="BKZClassification" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Berufskennziffer (BKZ) is a German occupational classification system.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BKZId" type="EntityIdType" minOccurs="0"/>
						<xsd:element name="BKZName" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EducationAuthorization" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="HandicapStatus" type="HandicapStatusEnumType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DistributionGuidelinesType">
		<xsd:sequence>
			<xsd:element name="DistributeTo" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="DistributionType">
							<xsd:sequence>
								<xsd:element name="ContactMethod" type="ContactMethodType" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DoNotDistributeTo" type="DistributionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DistributionType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="validFrom" type="LocalDateNkNaType"/>
		<xsd:attribute name="validTo" type="LocalDateNkNaType"/>
	</xsd:complexType>
	<xsd:complexType name="DressCodeType">
		<xsd:simpleContent>
			<xsd:extension base="DressCodeContentTypes">
				<xsd:attribute name="suppliedByOrganization" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DunsNumberDataType">
		<xsd:simpleContent>
			<xsd:extension base="DunsNumberBaseType">
				<xsd:attribute name="dunsNumberType" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="standard Duns"/>
							<xsd:enumeration value="global ultimate"/>
							<xsd:enumeration value="domestic ultimate"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EEOCJobCategoryType">
		<xsd:choice>
			<xsd:element name="StandardValue" type="EEOCJobCategoryEnumType"/>
			<xsd:element name="NonStandardValue" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EntityIdType">
		<xsd:sequence>
			<xsd:element name="IdValue" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="name" type="xsd:string" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="validFrom" type="AnyDateTimeNkNaType" use="optional"/>
		<xsd:attribute name="validTo" type="AnyDateTimeNkNaType" use="optional"/>
		<xsd:attribute name="idOwner" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="EntityReferenceType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExpatriateBenefitsType">
		<xsd:choice>
			<xsd:element name="ExpatriateBenefitsOffered" type="xsd:boolean" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExpatriateBenefitList" type="ExpatriateBenefitTypeTypes" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FlexibleDatesType">
		<xsd:choice>
			<xsd:element name="AnyDate" type="AnyDateTimeNkNaType"/>
			<xsd:element name="YearMonth" type="xsd:gYearMonth"/>
			<xsd:element name="Year" type="xsd:gYear"/>
			<xsd:element name="MonthDay" type="xsd:gMonthDay"/>
			<xsd:element name="StringDate" type="xsd:string"/>
		</xsd:choice>
		<xsd:attribute name="dateDescription" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="IndustryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="primaryIndicator" type="xsd:boolean" use="optional"/>
				<xsd:attribute name="classificationName" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="InternetDomainNameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="primaryIndicator" type="xsd:boolean" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="JobLevelInfoType">
		<xsd:sequence>
			<xsd:element name="JobPlan" type="xsd:string" minOccurs="0"/>
			<xsd:element name="JobGrade" type="xsd:string" minOccurs="0"/>
			<xsd:element name="JobStep" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LanguageDependentTextType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute ref="xml:lang">
					<xsd:annotation>
						<xsd:documentation>ISO 639-1 two character code is preferred, but not required.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LocalizedPositionClassificationType">
		<xsd:choice>
			<xsd:element name="USClassification" type="USLocalizedPositionClassificationType"/>
			<xsd:element name="DEClassification" type="DELocalizedPositionClassificationType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="LocationAreaType">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"/>
			<xsd:element name="Area" type="LocationAreaType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:union memberTypes="LocationAreaTypeType xStringPatternExtensionType"/>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="MobileTelcomNumberType">
		<xsd:complexContent>
			<xsd:extension base="TelcomNumberType">
				<xsd:attribute name="smsEnabled" type="xsd:boolean" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumericValueType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:double">
				<xsd:attribute name="minValue" type="xsd:double"/>
				<xsd:attribute name="maxValue" type="xsd:double"/>
				<xsd:attribute name="interval" type="xsd:double"/>
				<xsd:attribute name="description" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OccupationalCategoryType">
		<xsd:sequence>
			<xsd:element name="TaxonomyName" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="version" type="xsd:string" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CategoryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CategoryDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
			<xsd:element name="JobCategory" type="OccupationalCategoryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationalUnitPersonMemberRoleType">
		<xsd:sequence>
			<xsd:element name="RoleName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RoleId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="leader" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="OrganizationalUnitPersonMemberType">
		<xsd:sequence>
			<xsd:element name="PersonName" type="PersonNameType" minOccurs="0"/>
			<xsd:element name="PersonId" type="EntityIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PersonRole" type="OrganizationalUnitPersonMemberRoleType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContactMethod" type="ContactMethodType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationalUnitType">
		<xsd:sequence>
			<xsd:element name="OrganizationalUnitName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrganizationalUnitId" type="EntityIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrganizationId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IndustryCode" type="IndustryCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AccountingCode" type="AccountingCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="WorkSite" type="WorkSiteType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RelatedOrganizationalUnit" type="RelatedOrganizationalUnitType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PersonMember" type="OrganizationalUnitPersonMemberType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UserArea" type="UserAreaType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="typeOfGroup" type="xsd:string"/>
		<xsd:attribute name="hierarchicalRole" type="HierarchicalRoleType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="OrganizationContactType">
		<xsd:sequence>
			<xsd:element name="ContactName" type="PersonNameType" minOccurs="0"/>
			<xsd:element name="ContactId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="ContactMethod" type="ContactMethodType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="purpose" type="OrganizationContactPurposeType"/>
	</xsd:complexType>
	<xsd:complexType name="OrganizationLegalClassificationType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="countryCode" type="CountryCodeType" use="required"/>
				<xsd:attribute name="ownership" type="OrganizationLegalOwnershipType" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:sequence>
			<xsd:element name="OrganizationName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrganizationId" type="EntityIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TaxId" type="EntityIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LegalId" type="EntityIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DunsNumber" type="DunsNumberDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IsPublicCompany" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Stock" type="StockType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MissionStatement" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ValueStatement" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InternetDomainName" type="InternetDomainNameType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DoingBusinessAs" type="LanguageDependentTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LegalClassification" type="OrganizationLegalClassificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IndustryCode" type="IndustryCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Headcount" type="xsd:nonNegativeInteger" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="WorkSite" type="WorkSiteType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContactInfo" type="OrganizationContactType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RelatedOrganization" type="RelatedOrganizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrganizationalUnit" type="OrganizationalUnitType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UserArea" type="UserAreaType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherPayDataType">
		<xsd:sequence>
			<xsd:element name="OtherPayAmountMin" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="OtherPayAmountMax" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="OtherPayCalculation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="currencyCode" type="CurrencyCodeType"/>
		<xsd:attribute name="otherInterval" type="OtherIntervalType"/>
		<xsd:attribute name="otherPayType" type="OtherPayTypeTypes"/>
	</xsd:complexType>
	<xsd:complexType name="OtherSearchCriteriaType">
		<xsd:sequence>
			<xsd:element name="CriterionName" type="xsd:string"/>
			<xsd:element name="CriterionValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:sequence>
			<xsd:element name="FormattedName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LegalName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GivenName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PreferredGivenName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FamilyName" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="primary">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="true"/>
										<xsd:enumeration value="false"/>
										<xsd:enumeration value="undefined"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="prefix" type="xsd:string"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Affix" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="type" use="required">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="aristocraticTitle"/>
										<xsd:enumeration value="formOfAddress"/>
										<xsd:enumeration value="generation"/>
										<xsd:enumeration value="qualification"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlternateScript" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FormattedName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="LegalName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="GivenName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="PreferredGivenName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="FamilyName" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="primary">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="true"/>
													<xsd:enumeration value="false"/>
													<xsd:enumeration value="undefined"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="prefix" type="xsd:string"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Affix" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="type" use="required">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="aristocraticTitle"/>
													<xsd:enumeration value="formOfAddress"/>
													<xsd:enumeration value="generation"/>
													<xsd:enumeration value="qualification"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="script" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="script" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="PhysicalLocationType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EffectiveDate" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StartDate" type="LocalDateNkNaType" minOccurs="0"/>
						<xsd:element name="EndDate" type="LocalDateNkNaType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="SpatialLocation" minOccurs="0"/>
			<xsd:element name="TravelDirections" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PostalAddress" minOccurs="0"/>
			<xsd:element name="Area" type="LocationAreaType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PositionDateInfoType">
		<xsd:sequence>
			<xsd:element name="StartAsSoonAsPossible" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="StartDate" type="AnyDateTimeType" minOccurs="0"/>
			<xsd:element name="ExpectedEndDate" type="AnyDateTimeNkNaType" minOccurs="0"/>
			<xsd:element name="MaximumStartDate" type="AnyDateTimeNkNaType" minOccurs="0"/>
			<xsd:element name="MaximumEndDate" type="AnyDateTimeNkNaType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PositionMatchingExtendedType">
		<xsd:complexContent>
			<xsd:extension base="PositionMatchingType">
				<xsd:sequence>
					<xsd:element name="JobLevelInfo" type="JobLevelInfoType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="SearchCriteria" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PositionMatchingType">
		<xsd:sequence>
			<xsd:element name="Company" type="EntityReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CompanyScale" type="ScaleType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IndustryCode" type="IndustryCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PhysicalLocation" type="SEPPhysicalLocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="JobCategory" type="OccupationalCategoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PositionTitle" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PositionClassification" type="StaffingPositionClassificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PositionSchedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="PositionScheduleType">
							<xsd:attribute name="percentage" type="xsd:float"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Shift" type="WorkShiftScheduleType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Competency" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RemunerationPackage" type="PrehireRemunerationPackageType" minOccurs="0"/>
			<xsd:element name="WorkStyle" type="WorkStyleType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DressCode" type="DressCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Travel" type="StaffingTravelType" minOccurs="0"/>
			<xsd:element name="Relocation" type="StaffingRelocationType" minOccurs="0"/>
			<xsd:element name="PreferredLanguage" type="LanguageCodeType" minOccurs="0"/>
			<xsd:element name="UserArea" type="UserAreaType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PositionOpeningType">
		<xsd:sequence>
			<xsd:element name="PositionRecordInfo" type="RecordInfoType" minOccurs="0"/>
			<xsd:element name="PositionPostings" type="PositionPostingsType" minOccurs="0"/>
			<xsd:element name="PositionSupplier" type="PositionSupplierType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PositionProfile" type="PositionProfileType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NumberToFill" type="xsd:integer" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang"/>
	</xsd:complexType>
	<xsd:complexType name="PositionPostingsType">
		<xsd:sequence>
			<xsd:element name="PositionPosting" type="PositionPostingType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PositionPostingType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Title" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Link" type="InternetWebAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PositionProfileType">
		<xsd:sequence>
			<xsd:element name="ProfileId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="ProfileName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PositionDateInfo" type="PositionDateInfoType"/>
			<xsd:element name="Organization" type="OrganizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PositionDetail" type="PositionMatchingExtendedType" minOccurs="0"/>
			<xsd:element name="PositionClassification" type="LocalizedPositionClassificationType" minOccurs="0"/>
			<xsd:element name="FormattedPositionDescription" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute ref="xml:lang"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Value">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute ref="xml:lang"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="HowToApply" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="PersonName" minOccurs="0"/>
						<xsd:element name="ApplicationMethod" type="ApplicationMethodType" minOccurs="0"/>
						<xsd:element ref="UserArea" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DistributionGuidelines" type="DistributionGuidelinesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SupportingMaterials" type="StaffingSupportingMaterialsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang"/>
	</xsd:complexType>
	<xsd:complexType name="PositionSupplierType">
		<xsd:sequence>
			<xsd:element name="SupplierId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="EntityName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContactName" type="PersonNameType" minOccurs="0"/>
			<xsd:element name="ContactMethod" type="ContactMethodType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Role" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="relationship" type="RelationshipsType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="PostalAddressType">
		<xsd:sequence>
			<xsd:element name="CountryCode">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[A-Z]{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Region" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Municipality" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryAddress" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AddressLine" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="StreetName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="BuildingNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Unit" type="xsd:string" minOccurs="0"/>
						<xsd:element name="PostOfficeBox" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Recipient" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PersonName" type="PersonNameType" minOccurs="0"/>
						<xsd:element name="AdditionalText" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="Organization" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Deprecated in favor of OrganizationName element.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OrganizationName" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="postOfficeBoxAddress"/>
					<xsd:enumeration value="streetAddress"/>
					<xsd:enumeration value="militaryAddress"/>
					<xsd:enumeration value="undefined"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="PrehireRemunerationPackageType">
		<xsd:sequence>
			<xsd:element name="BasePay" type="BasePayType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OtherPay" type="OtherPayDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Benefits" type="BenefitsType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RankedSearchRelevanceType">
		<xsd:sequence>
			<xsd:element name="CriterionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Requested" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Offered" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Score" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="unitOfMeasure" type="xsd:string"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Weight" type="NumericValueType" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
			<xsd:element name="RankedResult" type="RankedSearchRelevanceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RankedSearchResultsType">
		<xsd:sequence>
			<xsd:element name="RankedResult" type="RankedSearchRelevanceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecordInfoType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Status" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ExtendedBasicStatusType">
							<xsd:attribute name="validFrom" type="AnyDateTimeNkNaType"/>
							<xsd:attribute name="validTo" type="AnyDateTimeNkNaType"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencesType">
		<xsd:sequence>
			<xsd:element ref="Reference" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceType">
		<xsd:sequence>
			<xsd:element name="PersonName" type="PersonNameType" minOccurs="0"/>
			<xsd:element name="PositionTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContactMethod" type="ContactMethodType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="ReferenceTypes"/>
	</xsd:complexType>
	<xsd:complexType name="RelatedOrganizationalUnitType">
		<xsd:complexContent>
			<xsd:extension base="OrganizationalUnitType">
				<xsd:attribute name="relationship" type="OrganizationalUnitRelationshipType"/>
				<xsd:attribute name="natureOfRelationship" type="OrganizationalUnitStructureType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RelatedOrganizationType">
		<xsd:complexContent>
			<xsd:extension base="OrganizationType">
				<xsd:attribute name="relationship" type="OrganizationRelationshipType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SafetyEquipmentType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="suppliedByOrganization" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SearchCriteriaType">
		<xsd:sequence>
			<xsd:element name="SearchCriteriaId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="SearchTarget" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The name of a database or service that is the target of the search.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UserId" type="EntityIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The Id of the user conducting the search.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchTimeStamp" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date and time search was conducted. I've used LocalDateTimeType.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchString" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The search string. Usually an URL-encoded string. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchCriterion" type="OtherSearchCriteriaType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SearchResultType">
		<xsd:sequence>
			<xsd:element name="SearchResultId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="SearchTarget" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The name of a database or service that is the target of the search.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UserId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="SearchTimeStamp" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="MatchedObjectId" type="EntityIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Examples would be an identifier for the Candidate, Position, or other item returned by the search.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchRelevanceScore" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The relevance score returned for this item. This might be a percentage, a number score, or textual score (high, medium, low relevance)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="unitOfMeasure"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SearchRelevanceRank" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The rank of this item within the set returned by the search.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SearchResultCount" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of items returned from the search.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RankedSearchResults" type="RankedSearchResultsType" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SEPPhysicalLocationType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpatialLocation" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Latitude">
							<xsd:annotation>
								<xsd:documentation>[N|S]degree.minute.second.f, degree range [0-90], decimal fraction f in arbitrary length (ex. N60.08.00.235556)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="(\+|\-)((\d|[0-8]\d)\.([0-5]\d))((\.[0-5]\d\.\d+)|(\.[0-5]\d))?|90\.00\.00(\.0+)?">
										<xsd:annotation>
											<xsd:documentation>

Pattern is generally of the form +DD.MM.SS  (D=degrees, M=minutes, S=seconds)

Description of the pattern:
1) '+' or '-' required unless the value is 90.00.00 
	- if value is 90.00.00, then omit the '+' or '-'
	- '+' means North, '-' means South
2) A one-digit or two-digit number for degrees (range 0 to 89) - required 
3) A dot (the decimal between degrees and minutes) - required
4) A two-digit number for minutes (range 00 to 59) - required 
5) A dot (the decimal between minutes and seconds) - optional
6) A two-digit number for seconds (range 00 to 59) - optional
     - if there is a dot in step 5, then there must be a two-digit number for seconds
7) A dot (the decimal between seconds and parts of a second) - optional
8) Digits for parts of a second (can be any number of digits) - optional
     - if there is a dot in step 7, then there must be at least one digit after it

Examples:
+0.00.00
+00.00.00
90.00.00
90.00.00.0
-89.59.59
-89.59
-89.59.59.555


Pattern breakdown: (D=degrees, M=minutes, S=seconds)
(\+|\-)  (...see next line..)  |     90\.00\.00(\.0+)? 
((\d|[0-8]\d)\.([0-5]\d))  (...see next line..) 
((\.[0-5]\d\.\d+)   |   (\.[0-5]\d))?


The original pattern (just for insurance):
pattern value="(N|S)((\d|[0-8]\d)\.([0-5]\d)\.[0-5]\d(\.\d+)?)|90\.00\.00(\.0+)?" 


			</xsd:documentation>
										</xsd:annotation>
									</xsd:pattern>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Longitude">
							<xsd:annotation>
								<xsd:documentation>[E|W]degree.minute.second.f, degree range [0-180], decimal fraction f in arbitrary length (ex. E25.00.00)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="(\+|-)(\d|\d\d|[0-1][0-7]\d)\.([0-5]\d)((\.[0-5]\d\.\d+)|(\.[0-5]\d))?|180\.00\.00(\.0+)?">
										<xsd:annotation>
											<xsd:documentation>

Pattern is generally of the form +DDD.MM.SS  (D=degrees, M=minutes, S=seconds)

Description of the pattern:
1) '+' or '-' required unless the value is 180.00.00 
	- if 180.00.00, then omit the '+' or '-'
	- '+' means East, '-' means West
2) A one-digit, two-digit, or three-digit number for degrees (range 0 to 179) - required 
3) A dot (the decimal between degrees and minutes) - required
4) A two-digit number for minutes (range 00 to 59) - required
5) A dot (the decimal between minutes and seconds) - optional
6) A two-digit number for seconds (range 00 to 59) - optional
     - if there is a dot in step 5, then there must be a two-digit number for seconds
7) A dot (the decimal between seconds and parts of a second) - optional
8) Digits for parts of a second (can be any number of digits) - optional
     - if there is a dot in step 7, then there must be at least one digit after it

Examples:
+0.00.00
+00.00.00
+000.00.00
180.00.00
180.00.00.0
-179.59.59
-40.59.59.555
-40.59


Pattern breakdown: (D=degrees, M=minutes, S=seconds)
(\+|\-)  (...see next line..)  |     190\.00\.00(\.0+)? 
(\d|\d\d|[0-1][0-7]\d)\.([0-5]\d)  (...see next line..) 
((\.[0-5]\d\.\d+)   |   (\.[0-5]\d))?

 
The original pattern (just for insurance):
pattern value="(E|W)((\d|\d\d|[0-1][0-7]\d)\.([0-5]\d)\.[0-5]\d(\.\d+)?)|180\.00\.00(\.0+)?" 
			</xsd:documentation>
										</xsd:annotation>
									</xsd:pattern>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:choice>
							<xsd:element name="Altitude" type="xsd:decimal" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>[(+)|-]x.f meter from WGS-84 datum reference ellipsoid, + above, - below, decimal fraction f in arbitrary length (ex. +12 )</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="AltitudeMeanSeaLevel" type="xsd:decimal" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>[(+)|-]x.f meter from mean sea level, + above, - below, decimal fraction f in arbitrary length (ex. +10 )</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:element name="HorizontalAccuracy" type="NonNegativeDecimal" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>by circle of radius from the positioned point in (+)x.f meter, decimal fraction f in arbitrary length (ex. 50.0)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="VerticalAccuracy" type="NonNegativeDecimal" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>in (+)x.f meter, decimal fraction f in arbitrary length (ex. 2.5)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TravelDirections" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Area" type="AreaType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PostalAddress" minOccurs="0"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SourceTypeType">
		<xsd:choice>
			<xsd:element name="StandardValue" type="SourceEnumType"/>
			<xsd:element name="NonStandardValue" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SpatialLocationType">
		<xsd:sequence>
			<xsd:element name="Latitude" type="LatitudeType"/>
			<xsd:element name="Longitude" type="LongitudeType"/>
			<xsd:choice>
				<xsd:element name="Altitude" type="xsd:decimal" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>[(+)|-]x.f meter from WGS-84 datum reference ellipsoid, + above, - below, decimal fraction f in arbitrary length (ex. +12 )</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AltitudeMeanSeaLevel" type="xsd:decimal" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>[(+)|-]x.f meter from mean sea level, + above, - below, decimal fraction f in arbitrary length (ex. +10 )</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="HorizontalAccuracy" type="NonNegativeDecimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>by circle of radius from the positioned point in (+)x.f meter, decimal fraction f in arbitrary length (ex. 50.0)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VerticalAccuracy" type="NonNegativeDecimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>in (+)x.f meter, decimal fraction f in arbitrary length (ex. 2.5)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifiedCompetencyReferenceType">
		<xsd:sequence>
			<xsd:element ref="CompetencyId"/>
			<xsd:element name="ProficencyLevel" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains a value indicating a level of proficiency. 
					The scale and meaning of the proficiency level value is determined within the context of the particular competency taxonomy referenced. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StaffingRelocationType">
		<xsd:sequence>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="relocationConsidered" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="StaffingSupportingMaterialsType">
		<xsd:annotation>
			<xsd:documentation>This type is officially deprecated in favor of the subsequently issued "SupportingMaterials" schema located in the CPO folder.  The prefix "Staffing" was added to the type name here so as to distinguish it.  No content models were changed here.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Link" type="InternetWebAddressType" minOccurs="0"/>
				<xsd:element name="AttachmentReference" minOccurs="0">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="context" type="xsd:string"/>
								<xsd:attribute name="mimeType" type="xsd:string"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StaffingTravelType">
		<xsd:choice>
			<xsd:element name="Applicable" type="xsd:boolean" minOccurs="0"/>
			<xsd:sequence>
				<xsd:element name="TravelFrequency" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TravelConsiderations" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="StockType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Symbol" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Exchange" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TelcomNumberType">
		<xsd:choice>
			<xsd:element ref="FormattedNumber"/>
			<xsd:group ref="TelcomNumberGroup"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TimeOffAllowanceType">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="timeOffType" type="TimeOffTypes"/>
	</xsd:complexType>
	<xsd:complexType name="UserAreaType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>In order to prevent a possible "ambiguous content model" errors in an instance, unbounded sequences were either eliminated from or deprecated in all HR-XML schemas. Removing unbounded sequences ensures that ambiguous errors are not found in an instance.  The unbounded sequence here is officially deprecated and will be changed to a single sequence.</xsd:documentation>
			</xsd:annotation>
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="USLocalizedPositionClassificationType">
		<xsd:sequence>
			<xsd:element name="FLSAStatus" type="FLSAStatusEnumType"/>
			<xsd:element name="EEOCJobCategory" type="EEOCJobCategoryType" minOccurs="0"/>
			<xsd:element name="AffirmativeActionPlanJobGroupId" type="EntityIdType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WorkShiftScheduleType">
		<xsd:sequence>
			<xsd:element name="Id" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Hours" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="StartTime" type="LocalTimeNkNaType" minOccurs="0"/>
			<xsd:element name="EndTime" type="LocalTimeNkNaType" minOccurs="0"/>
			<xsd:element ref="PayTypeHours" minOccurs="0"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="shiftPeriod" type="ShiftPeriodType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="WorkSiteEnvironmentType">
		<xsd:sequence>
			<xsd:element name="EnvironmentName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EnvironmentId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="WorkSiteId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Description" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="xml:lang"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Considerations" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="General" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="Physical" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="SafetyEquipment" type="SafetyEquipmentType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="DressCode" type="DressCodeType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element ref="UserArea" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute ref="xml:lang"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WorkSiteType">
		<xsd:sequence>
			<xsd:element name="WorkSiteName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="WorkSiteId" type="EntityIdType" minOccurs="0"/>
			<xsd:element name="Details" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="LanguageDependentTextType">
							<xsd:attribute name="type" type="xsd:string"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PostalAddress" type="PostalAddressType" minOccurs="0"/>
			<xsd:element name="TravelDirections" type="LanguageDependentTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ParkingInstructions" type="LanguageDependentTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="WorkSiteEnvironment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Achievement" type="AchievementType"/>
	<xsd:element name="Achievements">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Achievement" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AreaCityCode" type="xsd:string"/>
	<xsd:element name="Association">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AssociationType">
					<xsd:attribute name="type" type="ExtendedAssociationTypeType"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Associations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Association" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Competency" type="CompetencyType"/>
	<xsd:element name="CompetencyId" type="EntityIdType">
		<xsd:annotation>
			<xsd:documentation>A globally scoped element containing an identifier for a competency being referenced. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="CountryCodeType"/>
	<xsd:element name="CurrencyCode" type="CurrencyCodeType"/>
	<xsd:element name="DunsNumber" type="DunsNumberDataType"/>
	<xsd:element name="Extension" type="xsd:string"/>
	<xsd:element name="Fax" type="TelcomNumberType"/>
	<xsd:element name="FLSAStatus" type="FLSAStatusEnumType"/>
	<xsd:element name="FormattedNumber" type="xsd:string"/>
	<xsd:element name="Frequency" type="FrequencyType"/>
	<xsd:element name="GenderCode" type="GenderCodeType"/>
	<xsd:element name="IndustryCode" type="IndustryCodeType"/>
	<xsd:element name="InternationalCountryCode" type="xsd:string"/>
	<xsd:element name="InternetDomainName" type="InternetDomainNameType"/>
	<xsd:element name="InternetEmailAddress" type="InternetEmailAddressType"/>
	<xsd:element name="InternetWebAddress" type="InternetWebAddressType"/>
	<xsd:element name="Language">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LanguageCode" minOccurs="0"/>
				<xsd:element name="Read" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="Write" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="Speak" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LanguageCode" type="LanguageCodeType"/>
	<xsd:element name="Location" type="contactMethodLocationPatternExtensionType"/>
	<xsd:element name="Mobile" type="MobileTelcomNumberType"/>
	<xsd:element name="NationalNumber" type="xsd:string"/>
	<xsd:element name="NumericValue" type="NumericValueType"/>
	<xsd:element name="Organization">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OrganizationType"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrganizationalUnit" type="OrganizationalUnitType"/>
	<xsd:element name="Pager" type="TelcomNumberType"/>
	<xsd:element name="PayTypeHours" type="USPayTypeHoursType"/>
	<xsd:element name="PersonName" type="PersonNameType"/>
	<xsd:element name="PhysicalLocation" type="PhysicalLocationType"/>
	<xsd:element name="PositionMatching" type="PositionMatchingType"/>
	<xsd:element name="PostalAddress" type="PostalAddressType"/>
	<xsd:element name="PrehireRemuneration" type="PrehireRemunerationPackageType"/>
	<xsd:element name="Reference" type="ReferenceType"/>
	<xsd:element name="References" type="ReferencesType"/>
	<xsd:element name="SearchCriteria" type="SearchCriteriaType"/>
	<xsd:element name="SearchResult" type="SearchResultType"/>
	<xsd:element name="SEPPhysicalLocation" type="SEPPhysicalLocationType"/>
	<xsd:element name="SpatialLocation" type="SpatialLocationType"/>
	<xsd:element name="SpecifiedCompetencyReference" type="SpecifiedCompetencyReferenceType">
		<xsd:annotation>
			<xsd:documentation>This element is mainly for documentation purposes. SpecifiedCompetencyReferenceType would generally be 
			used with an element named for the context in which it appears. For example, the CompetenciesAssessed elment within AssessmentCatalog
			extends SpecifiedCompetencyReferenceType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StringValue">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="minValue" type="xsd:string"/>
					<xsd:attribute name="maxValue" type="xsd:string"/>
					<xsd:attribute name="description" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SubscriberNumber" type="xsd:string"/>
	<xsd:element name="SupportingInformation" type="xsd:string"/>
	<xsd:element name="Telephone" type="TelcomNumberType"/>
	<xsd:element name="TTYTDD" type="TelcomNumberType"/>
	<xsd:element name="Use" type="contactMethodUsePatternExtensionType"/>
	<xsd:element name="UserArea" type="UserAreaType">
		<xsd:annotation>
			<xsd:documentation>HR-XML Technical Steering Committee endorsed extension element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WhenAvailable" type="contactMethodWhenAvailableType"/>
	<xsd:element name="WorkSite" type="WorkSiteType"/>
	<xsd:element name="WorkSiteEnvironment" type="WorkSiteEnvironmentType"/>
	<xsd:group name="TelcomNumberGroup">
		<xsd:sequence>
			<xsd:element ref="InternationalCountryCode" minOccurs="0"/>
			<xsd:element ref="NationalNumber" minOccurs="0"/>
			<xsd:element ref="AreaCityCode" minOccurs="0"/>
			<xsd:element ref="SubscriberNumber"/>
			<xsd:element ref="Extension" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
