lib/hr-xml-2.5/HR-XML-2_5/StandAlone/ResourceScreening.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Chuck Allen (HR-XML Consortium, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ns.hr-xml.org/2007-04-15" xmlns:oa="http://www.openapplications.org/oagis" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://ns.hr-xml.org/2007-04-15" elementFormDefault="qualified" version="2007-04-15">
	<xsd:annotation>
		<xsd:documentation>"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"

Terms of license can be found in license.txt.
</xsd:documentation>
		<xsd:documentation>Stand alone (but non-normative) version of schema, with all "includes" inserted explicitly.  This file is auto-generated.  It should be considered a "convenience" alternative to the normative versions.</xsd:documentation>
		<xsd:documentation>After merging all includes, the result is passed through a stylesheet which deletes any duplicative global components as well as any unused global types.  Finally, it sorts by component name.  Be sure to check the Xml Namespaces to ensure this result is what you requested.</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="ResourceScreening" type="ResourceScreeningType"/>
	<xsd:simpleType name="AnyDateTimeType">
		<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KnownContactType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="placed by"/>
			<xsd:enumeration value="placed on behalf of"/>
			<xsd:enumeration value="confirm to"/>
			<xsd:enumeration value="authorized by"/>
			<xsd:enumeration value="interviewer"/>
			<xsd:enumeration value="supervisor"/>
			<xsd:enumeration value="time approver"/>
			<xsd:enumeration value="submitted by"/>
			<xsd:enumeration value="created by"/>
			<xsd:enumeration value="sent to"/>
			<xsd:enumeration value="first day contact"/>
			<xsd:enumeration value="customer complaints"/>
			<xsd:enumeration value="supplier manager"/>
			<xsd:enumeration value="supplier complaints"/>
			<xsd:enumeration value="deputy time approver"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KnownScreeningType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="abuse"/>
			<xsd:enumeration value="address"/>
			<xsd:enumeration value="awards"/>
			<xsd:enumeration value="credit"/>
			<xsd:enumeration value="criminal"/>
			<xsd:enumeration value="drug"/>
			<xsd:enumeration value="earnings"/>
			<xsd:enumeration value="education"/>
			<xsd:enumeration value="employment"/>
			<xsd:enumeration value="license"/>
			<xsd:enumeration value="name"/>
			<xsd:enumeration value="phone"/>
			<xsd:enumeration value="reference"/>
			<xsd:enumeration value="workcomp"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDateType">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalTimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotApplicableLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notApplicable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NotKnownLiteral">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="notKnown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StaffingScreeningType">
		<xsd:union memberTypes="KnownScreeningType xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeType">
		<xsd:restriction base="xsd:time">
			<xsd:pattern value="\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ResourceScreeningType">
		<xsd:sequence>
			<xsd:element name="ScreeningResultDate" type="AnyDateTimeType"/>
			<xsd:element name="ScreeningResult" type="xsd:string"/>
			<xsd:element name="ScreeningComments" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="screeningType" type="StaffingScreeningType" use="required"/>
		<xsd:attribute ref="xml:lang"/>
	</xsd:complexType>
</xsd:schema>
